absl-py==0.7.1
aniso8601==6.0.0
astor==0.7.1
baidu-aip==2.2.13.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
django>=2.1.11
dlib==19.8.1
face-recognition==1.2.3
face-recognition-models==0.3.0
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
idna==2.8
image==1.5.27
itsdangerous==1.1.0
Jinja2>=2.10.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
MarkupSafe==1.1.1
mock==3.0.3
numpy==1.16.2
opencv-python==4.1.0.25
Pillow==5.4.1
protobuf==3.7.1
PyMySQL==0.9.3
pytz==2018.9
PyYAML==5.4
requests==2.21.0
scipy==1.2.1
six==1.12.0
sqlparse==0.3.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
urllib3>=1.24.2
virtualenv==16.4.1
Werkzeug>=0.15.3
