<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>人脸识别系统登录</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1.0,maximum-scale=3.0"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="../static/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/5.8.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/ionicons/4.5.6/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.4.10/css/AdminLTE.min.css">
    <script type="text/javascript" src="../static/jquery.min.js"></script>
    <script src="../static/layui/layui.js" charset="utf-8"></script>
    <!--     <script type="text/javascript" src="./js/xadmin.js"></script>
        <script type="text/javascript" src="./js/cookie.js"></script> -->
    <style>
        .face_login {
            margin: 0;
            margin: 0 auto;
            width: 400px;
            height: 700px;
        }
    </style>
</head>
<body class="login-bg">
    <div class="face_login login layui-anim layui-anim-up">
        <div class="message">用户人脸登录</div>
        <div id="darkbannerwrap"></div>
        <div class="login1 layui-anim layui-anim-up">
            <div class="login-box-msg" style="border: solid 1px red;">
                <video width="200px" , height="200px"></video>
            </div>
            <div class="login-box-msg" style="border: solid 1px red;">
                <canvas width="200px" , height="200px" id="thecanvas"></canvas>
            </div>
            <button type="button" id="snap" class="btn btn-primary btn-block btn-flat">拍照</button>
        </div>
        <form action="/face_login/" method="post" class="layui-form">
            {% csrf_token %}
            <input type="hidden" id="face" name="face">
            {% if uname %}
                <span>用户{{ uname }}不存在</span>
            {% endif %}
            <hr class="hr15">
            <hr class="hr15">
            <input value="人脸登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        </form>
    </div>
</body>
<script>
    $(function () {
        layui.use('form', function () {
            var form = layui.form;
            // layer.msg('玩命卖萌中', function(){
            //   //关闭后的操作
            //   });
            //监听提交
            //form.on('submit(login)', function(data){
            // alert(888)
            // layer.msg(JSON.stringify(data.field),function(){
            //    location.href='index.html'
            //});
            // return false;
            // });
        });
    })


</script>


<!-- 底部结束 -->
<script>
    //百度统计可去掉
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script type="text/javascript">//base64数据变成bolb对象
function base64ToBlob(urlData, type) {
    let arr = urlData.split(',');
    let mime = arr[0].match(/:(.*?);/)[1] || type;
// 去掉url的头，并转化为byte
    let bytes = window.atob(arr[1]);
// 处理异常,将ascii码小于0的转换为大于0
    let ab = new ArrayBuffer(bytes.length);
// 生成视图（直接针对内存）：8位无符号整数，长度1个字节
    let ia = new Uint8Array(ab);
    for (let i = 0; i < bytes.length; i++) {
        ia[i] = bytes.charCodeAt(i);
    }
    return new Blob([ab], {
        type: mime
    });
}
</script>
<script type="text/javascript">
    function fileOrBlobToDataURL(obj, cb) {
        let a = new FileReader();
        a.readAsDataURL(obj);
        a.onload = function (e) {
            cb(e.target.result);
        };
    }

    function blobToImage(blob, cb) {
        fileOrBlobToDataURL(blob, function (dataurl) {
            var img = new Image();
            img.src = dataurl;
            cb(img);
        });
    }

    function $(elem) {
        return document.querySelector(elem);
    }

    var canvas = $('canvas'),
        context = canvas.getContext('2d'),
        video = $('video'),
        snap = $('#snap'),
        face = $('#face'),
        mediaStreamTrack;
    // 获取媒体方法（新方法）
    // 使用新方法打开摄像头
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({
            video: {height: 200, width: 200},
            audio: false
        }).then(function (stream) {
            console.log(stream);
            mediaStreamTrack = typeof stream.stop === 'function' ? stream : stream.getTracks()[1];
            try {
                video.src = (window.URL || window.webkitURL).createObjectURL(stream);
                video.play();
            } catch (e) {
                video.srcObject = stream;
                video.play()
            }

        }).catch(function (err) {
            console.log(err);
        })
    }
    // 使用旧方法打开摄像头
    else if (navigator.getMedia) {
        navigator.getMedia({
            video: true
        }, function (stream) {
            mediaStreamTrack = stream.getTracks()[0];

            video.src = (window.URL || window.webkitURL).createObjectURL(stream);
            video.play();
        }, function (err) {
            console.log(err);
        });
    }
    // 截取图像
    snap.addEventListener('click', function () {
        context.drawImage(video, 0, 0, 200, 200);

        face.value = canvas.toDataURL('image/jpg');

    }, false);
</script>


</html>